#jenatdbnative.repository=/home/lias/tdb100repository-saturated
jenatdbnative.repository=D:\\Encadrement\\Fokou_Geraud\\MFS\\Code\\apache-jena-2.13.0\\LUBM100R

jdbc.database=oracle
jdbc.url=jdbc:oracle:thin:@localhost:1521:orcl
jdbc.driver=oracle.jdbc.driver.OracleDriver
jdbc.login=lubm100
jdbc.password=pass

sparqlendpoint.url=http://s-virtualmachine2-lias:3030/lubm100/sparql
#sparqlendpoint.url=http://localhost:3030/lubm100/sparql
sparqlendpoint.defaultgraphuri=http://swat.cse.lehigh.edu/onto/univ-bench.owl
